/**
 * 데이터 테이블 관련 스타일
 */

// v-data-table 기본 스타일
.v-data-table ::v-deep .v-data-table__wrapper {
  overflow-x: auto;
}

.v-data-table ::v-deep {
  table {
    border-collapse: collapse;
  }

  th {
    background-color: #f5f5f5;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.87);
  }

  td {
    border-bottom: thin solid rgba(0, 0, 0, 0.12);
  }
}
